{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="thead-dark">
                <th> 번호</th>
                <th> 제목</th>
                <th> 작성일</th>
            </tr>
            </thead>
            <tbody>
            {% if question_list %}
                {% for question in question_list %}
                    <tr>
                        <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
                        <td>
                            <a href="{% url 'pybo:detail' question.id %}">
                                {{ question.subject }}
                            </a>
                            {% if question.answer_set.count > 0 %}
                                <span class="text-danger small ml-2">
                                [답변: {{ question.answer_set.count }}개]
                            </span>
                            {% endif %}
                        </td>
                        <td> {{ question.create_date }} </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3"> 질문이 없습니다.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 게시글 페이지 이동 버튼 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if question_list.has_previous %} <!-- 이전 페이지가 있을 경우 -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
                </li>
            {% else %} <!-- 맨 처음 페이지인 경우 -->
                <li class="page-item disabled"> <!-- 클릭을 못하도록 버튼 비활성화 시킴 -->
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!--페이지 번호 버튼 -->
            {% for page_number in question_list.paginator.page_range %}
                {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                    <!-- 현재 페이지에 대한 버튼 처리-->
                    {% if page_number == question_list.number %}
                        <li class="page-item active" aria-current="page"> <!-- 해당 페이지의 버튼은 이미 활성화됨 처리 -->
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                        <!-- 현재 페이지가 아닌 페이지에 대한 버튼 처리-->
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음 페이지 버튼 -->
            {% if question_list.has_next %} <!-- 다음 페이지가 있을 경우 -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
                </li>
            {% else %} <!-- 맨 처음 페이지인 경우 -->
                <li class="page-item disabled"> <!-- 클릭을 못하도록 버튼 비활성화 시킴 -->
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징 처리 끝-->
        <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">
            질문 작성
        </a>
    </div>
{% endblock %}