{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 필수 meta 태그 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 부트스트랩 CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>pybo 게시가</title>
</head>
<body>
<!-- 네비게이션 바 템플릿 파일 포함시키는 코드 -->
{% include 'navbar.html' %}
<!-- 기본 템플릿에 포함될 내용이 삽입되는 구간 시작 지점-->
{% block content %}
{% endblock %}
<!-- 기본 템플릿에 포함될 내용이 삽입되는 구간 끝 지점-->
<!-- jQuery JS 포함시키는 코드 -->
<script src="{% static 'jQuery-3.6.0.min.js' %}"></script>
<!-- 부트스트랩 JS 포함시키는 코드-->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 코드 영역 시작 -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 코드 영역 끝 -->
</body>
</html>